.card {
  width: 20rem;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
  opacity: 1;
}
.card:hover {
  transform: scale(1.1);
}

.card img {
  display: block;
  width: 100%;
}
.card span {
  position: absolute; /* Position relative to the container */
  bottom: 0; /* Align at the bottom */
  left: 0; /* Align to the left edge */
  width: 30%;
  background-color: rgb(255, 255, 255, 0.5);
}

.containerCard {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card button {
  border-radius: 50%;
  background-image: url("../source/right.png");
  width: 4rem;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
}
